<ol class="breadcrumb">
  <li><%= link_to "管理者ページ", user_path(current_user) %></li>
  <li><%= link_to "蔵書一覧", books_path %></li>
  <li class="active">蔵書新規登録</li>
</ol>

<h1 class="heading">蔵書新規登録</h1>

<%= render 'form' %>
