<ol class="breadcrumb">
  <li><%= link_to "Top", root_path %></li>
  <li><%= link_to "書籍情報一覧", book_details_path %></li>
  <li class="active">新規書籍情報登録</li>
</ol>
<h1 class="heading">新規書籍情報登録</h1>
<%= render 'form' %>