#book_details_index .table th {
    white-space: nowrap;
}

#book_details_index .table td#td_publisher {
    white-space: nowrap;
}

.detail_colum {
    background: #7f7f7f;
    border: 1px solid #fff;
}

.detail_content {
    background: #e0e0e0;
    border: 1px solid #fff;
}

@media screen and (max-width: 767px) {
    #td_content {
        white-space: normal !important;
    }
    #td_writer {
        white-space: normal !important;
    }
}