#header {
    border: 1px solid #81C714;
    margin-top: 20px;
    padding: 0 10px 10px;
    background: #81C714;
}



@media (max-width: 767px) {
    #header h1#logo img {
        width: 65px;
    }
}